<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/main.css" rel="stylesheet">
    <link href="css/all.css" rel="stylesheet"> <!--load all styles -->
    <!-- Bootstrap core JavaScript
       ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.bundle.js"></script>
    <script src="js/loadingoverlay.min.js"></script>
    <link href="./cms_files/main(1).css" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-viola">
    <div class="container" style="max-width: 100%">
        <a href="http://localhost:66/#" class="navbar-brand"> uncleTales.ru </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>

    </div>
</nav>



<div id="postContainer"></div>

<script>
    fetch('/api/post')
        .then(response => response.json())
        .then(json => outputPostList(json))
</script>

<script>
    function outputPostList(postList) {
        const postContainer = document.getElementById("postContainer");
        postList.forEach(function (post) {
            var postLayout = document.createElement('div');
            postLayout.innerHTML = `
    <div class="container page">
        <div class="row">
            <div class="col-12">
                <div class="card" style="">
                    <div class="card-body">
                        <div class="row mb-2">
                            <div class="col-6"><b>Автор: </b>${post.blogUser.surname} ${post.blogUser.name}</div>
                            <div class="col-6 ta-right"><b>Дата: </b>${post.postDate}</div>
                        </div>
                        <h5 class="card-title">${post.title}</h5>
                        <p class="card-text">${post.content}</p>
                        <div class="row">
                            <div class="col-12"><b>Теги:</b>
                                <a href="http://localhost:66/">Раз</a>,
                                <a href="http://localhost:66/">Два</a>,
                                <a href="http://localhost:66/">Три</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6"><b>Категория: </b>${post.postCategory.name}</div>
                            <div class="col-6 ta-right"><b>Просмотры:</b> 20</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
            `;

            postLayout.id = post.id;
            postContainer.appendChild(postLayout);
        });
    }
</script>


</body></html>