<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/main.css" rel="stylesheet">
    <link href="css/all.css" rel="stylesheet"> <!--load all styles -->
    <!-- Bootstrap core JavaScript
       ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.bundle.js"></script>
    <script src="js/loadingoverlay.min.js"></script>
    <link href="./cms_files/main(1).css" rel="stylesheet">
</head>

<body>
<nav class="menu">
    <ul>
        <li><a href="/login">Авторизоваться</a></li>
        <li id="addPost"><a href="/post-edit/new">Добавить пост</a></li>
    </ul>
</nav>

<div id="postContainer"></div>

<script>
    fetch('api/current-role')
        .then(response => response.json())
        .then(blogUser => {
            showAddNewPostButton(blogUser.role)
            fetch('/api/post')
                .then(response => response.json())
                .then(json => outputPostList(json, blogUser.id));
  })


</script>

<script>
    function showAddNewPostButton(userRole) {
        switch (userRole) {
            case 'ADMIN':

                break;
            case 'USER':

                break;
            case 'ANONYMOUS':
                var addPost = document.getElementById("addPost");
                addPost.parentNode.removeChild(addPost);
                break;
        }
    }
</script>

<script>
    function outputPostList(postList, userId) {
        const postContainer = document.getElementById("postContainer");
        postList.forEach(function (post) {
            var postLayout = document.createElement('div');
            postLayout.innerHTML = `
    <div class="container page">
        <div class="row">
            <div class="col-12">
                <div class="card" style="">
                    <div class="card-body">
                        <div class="row mb-2">
                            <div class="col-6"><b>Автор: </b>${post.blogUser.surname} ${post.blogUser.name}</div>
                            <div class="col-6 ta-right"><b>Дата: </b>${post.postDate}</div>
                        </div>
                        <h5 class="card-title">${post.title}</h5>
                        <p class="card-text">${post.content}</p>
                        <div class="row">
                            <div class="col-12"><b>Теги:</b>
                                <a href="http://localhost:66/">Раз</a>,
                                <a href="http://localhost:66/">Два</a>,
                                <a href="http://localhost:66/">Три</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6"><b>Категория: </b>${post.postCategory.name}</div>
                        </div>
                        <div id="edit" class="w-100 mt-2">
                            <a href="/post-edit/${post.id}">
                                <button type="button" class="btn btn-primary bg-viola bg-viola_text pull-center">
                                    Редактировать
                                </button>
                            </a>
					    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
            `;
            postLayout.id = post.id;
            postContainer.appendChild(postLayout);
            var editButton = document.getElementById("edit");
            if (post.blogUser.id != userId) {
                editButton.parentNode.removeChild(editButton);
            }
        });
    }
</script>


</body></html>