<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <!-- default header name is X-CSRF-TOKEN -->
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

  <!-- Bootstrap core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/all.css" rel="stylesheet"> <!--load all styles -->
  <!-- Bootstrap core JavaScript
     ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="/js/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.bundle.js"></script>
  <script src="/js/loadingoverlay.min.js"></script>
  <link href="/css/main(1).css" rel="stylesheet">
  <script type="/text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-viola">
  <div class="container" style="max-width: 100%">
    <a class="navbar-brand" id="navbarTitle"></a>
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav me-auto mb-2">
        <li class="nav-item">
          <a class="nav-link" href="/" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            На главную
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br>
<div>
  <div class="container page">
    <div class="row">
      <div class="col-12">
        <div class="card" style="">
          <div class="card-body">
            <div class="row mb-2">
              <div id="name" class="col-6"><b>Автор: </b></div>
              <div id="postDate" class="col-6 ta-right"><b>Дата: </b></div>
            </div>
            <h5 id="postTitle" class="card-title"></h5>
            <p id="postContent" class="card-text"></p>
            <div class="row">
              <div class="col-12"><b>Теги:</b>
                <a href="http://localhost:66/">Раз</a>,
                <a href="http://localhost:66/">Два</a>,
                <a href="http://localhost:66/">Три</a>
              </div>
            </div>
            <div class="row">
              <div id="postCategory" class="col-6"><b>Категория: </b></div>
            </div>
            <br>
            <br>
            <div id="postCommentContainer"></div>
            <br>
            <div id="inputComment">
              <div>
                <textarea class="form-control me-2" rows = "5" id="comment" placeholder="Комментарий"></textarea>
              </div>
              <br>
              <div>
                <button id="addComment" type="button" class="btn btn-primary bg-viola bg-viola_text pull-center">Сохранить</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<script>
    fetch('/api/current-role')
        .then(response => response.json())
        .then(blogUser => {
            showNavbarTitle(blogUser);
            showInputComment(blogUser);
            var id = window.location.pathname.split('/').pop();
            fetch('/api/post/'+id)
                .then(response => response.json())
                .then(post => {
                    outputPost(blogUser, post);
                    fetch('/api/post-comment?postId='+id)
                        .then(response => response.json())
                        .then(postCommentDtoList => outputPostComments(postCommentDtoList, blogUser.id))
                });
  })
</script>

<script>
    function outputPost(blogUser, post) {
        const name = document.getElementById("name");
        const postDate = document.getElementById("postDate");
        const postTitle = document.getElementById("postTitle");
        const postContent = document.getElementById("postContent");
        const postCategory = document.getElementById("postCategory");
        const comment = document.getElementById("comment");
        const addComment = document.getElementById("addComment");

        name.innerHTML += post.blogUser.surname + ' '+ post.blogUser.name;
        postDate.innerHTML += post.postDate;
        postTitle.innerHTML += post.title;
        postContent.innerHTML += post.content;
        postCategory.innerHTML += post.postCategory.name;

        if (blogUser.role != 'ANONYMOUS') {
            addComment.onclick = function() {
                var postComment = new Object();
                postComment.id = 0;
                postComment.post = post;
                postComment.blogUser = blogUser;
                postComment.content = comment.value;
                postComment = JSON.stringify(postComment);

                let token = $("meta[name='_csrf']").attr("content");
                let header = $("meta[name='_csrf_header']").attr("content");

                fetch('/api/post-comment', {
                    method: 'POST',
                    headers: {
                        [header]: token,
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    body: postComment
                    })
                    .then(response => {
                       if (response.status == 200) {
                           comment.value = '';
                           fetch('/api/post-comment?postId='+post.id)
                              .then(response => response.json())
                              .then(postCommentDtoList => outputPostComments(postCommentDtoList, blogUser.id))
                       }
                })
            }
        }

    }
</script>

<script>
    function showNavbarTitle(blogUser) {
        var navbarTitle = document.getElementById("navbarTitle");
        if (blogUser.role == 'ANONYMOUS') {
            navbarTitle.text = 'Гость';
        }
        else {
            navbarTitle.text = blogUser.surname + ' ' + blogUser.name;
        }
    }
</script>

<script>
    function showInputComment(blogUser) {
        var inputComment = document.getElementById("inputComment");
        if (blogUser.role == 'ANONYMOUS') {
            inputComment.parentNode.removeChild(inputComment);
        }
    }
</script>

<script>
    function deletePostComment(id) {
        let token = $("meta[name='_csrf']").attr("content");
        let header = $("meta[name='_csrf_header']").attr("content");

        fetch('/api/post-comment/'+id, {
            method: 'DELETE',
            headers: {
                [header]: token
            }
            })
            .then(removeRow(id))
    }
</script>

<script>
    function removeRow(id) {
        var row = document.getElementById(id);
        row.parentNode.removeChild(row);
    }
</script>

<script>
    function outputPostComments(postCommentDtoList, userId) {
        console.log(postCommentDtoList);
        const postCommentContainer = document.getElementById("postCommentContainer");
        postCommentContainer.innerHTML = "";
        postCommentDtoList.forEach(function (postCommentDto) {
            var postCommentLayout = document.createElement('div');
            postCommentLayout.innerHTML = `
    <div class="container page">
        <div class="row">
            <div class="col-12">
                <div class="card" style="">
                    <div class="card-body">
                        <div class="row mb-2">
                            <div class="col-6"><b>Автор: </b>${postCommentDto.authorName}</div>
                            <div class="col-6 ta-right"><b>Дата: </b>${postCommentDto.postCommentDate}</div>
                        </div>
                        <div>
                            <p class="card-text">${postCommentDto.content}</p>
                        </div>
                        <div class="w-100">
                        <br>
                        <a id="deleteComment">
                            <button type="button" onclick="deletePostComment(${postCommentDto.id})" class="btn btn-primary bg-viola bg-viola_text pull-center">
                                Удалить
                            </button>
                        </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
            `;
            postCommentLayout.id = postCommentDto.id;
            postCommentContainer.appendChild(postCommentLayout);
            var deleteComment = document.getElementById("deleteComment");
            if (postCommentDto.authorId != userId) {
                deleteComment.parentNode.removeChild(deleteComment);
            }
        });
    }
</script>

</body>
</html>