<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <!-- default header name is X-CSRF-TOKEN -->
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="css/main.css" rel="stylesheet">
  <link href="css/all.css" rel="stylesheet"> <!--load all styles -->
  <!-- Bootstrap core JavaScript
     ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="js/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.bundle.js"></script>
  <script src="js/loadingoverlay.min.js"></script>
  <link href="css/login.css" rel="stylesheet">
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
</head>
<body>
<div class="form">
  <div>
    <form>
      <h4>Добавить пост</h4>
      <table class="w-100 mt-2">
        <tr>
          <td style="width: 600px;">
            <div class="form-group">
              <select id="postCategorySelect"></select>
            </div></td>
        </tr>
        <tr>
          <td><input class="m-1" style="width: 600px;" type="text" id="title" placeholder="Заголовок"/></td>
        </tr>
        <tr>
          <td><textarea class="m-1" rows = "5" style="width: 600px;" id="content" placeholder="Текст"></textarea></td>
        </tr>
      </table>
      <br>
      <div class="w-100" style="text-align: right;">
        <button id="save">Сохранить</button>
      </div>
    </form>
  </div>
</div>

<script>
    var id = window.location.pathname.split('/').pop();
    fetch('/api/post/'+id)
        .then(response => response.json())
        .then(json => outputPost(json))
</script>

<script>
    function outputPost(post) {
        const postTitle = document.getElementById("title");
        const postContent = document.getElementById("content");
        const savePost = document.getElementById("save");
        postTitle.value = post.title;
        postContent.value = post.content;
        save.onclick = function() {
            post.postCategory = JSON.parse(decodeURIComponent(document.getElementById('postCategorySelect').value));
            post.title = document.getElementById("title").value;
            post.content = document.getElementById("content").value;
            post = JSON.stringify(post);
            console.log(post);

            let token = $("meta[name='_csrf']").attr("content");
            let header = $("meta[name='_csrf_header']").attr("content");

            fetch('/api/post', {
                method: 'POST',
                headers: {
                    [header]: token,
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: post
                })
                .then()
            }
    }
</script>

<script>
    fetch('/api/post-category')
        .then(response => response.json())
        .then(json => outputPostCategories(json))
</script>

<script>
    function outputPostCategories(postCategoryList) {
        const postCategorySelect = document.getElementById("postCategorySelect");
        postCategoryList.forEach(function (postCategory) {
            var newOption = document.createElement('option');
            newOption.value = encodeURIComponent(JSON.stringify(postCategory));
            newOption.text = postCategory.name;
            postCategorySelect.appendChild(newOption);
        });
    }
</script>

</body>
</html>